<mat-card class="form-container mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Servidores Disponíveis para remoção (chegando)</mat-card-title>
      <mat-card-subtitle>Listar</mat-card-subtitle>
    </mat-card-header>
  
    <mat-form-field floatPlaceholder="never" class="filter-container">
      <input matInput #filter placeholder="Filtrar por matricula, cpf, nome">
    </mat-form-field>
  
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="gridSortChanged($event)">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row #linha *matRowDef="let row; columns: displayedColumns;" (click)="rowSelected(row)" class="highlight-row">
        </mat-row>

        <ng-container matColumnDef="ramo">
          <mat-header-cell *matHeaderCellDef mat-sort-header="ramo">
            Ramo
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ramo}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header="nome">
            Nome
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="matricula">
          <mat-header-cell *matHeaderCellDef mat-sort-header="matricula">
            Matrícula
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.matricula}}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef mat-sort-header="cpf">
            CPF
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cpf | cpf}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acao">
          <mat-header-cell *matHeaderCellDef> ação </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item>Visualizar Completo</button>
              <button mat-menu-item>Imprimir Completo</button>
              <button mat-menu-item>Registrar importação</button>
              <button mat-menu-item>Comunicar erro</button>
            </mat-menu>
  
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      </mat-table>
  
      <!-- Componente de Paginacao -->
      <mat-paginator #paginator (page)="gridPageChanged($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
  